*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
runtime/
.idea/
.phpintel/
*.DS_Store
*.bak
**/bak/
public/upload/
public/static/cdn/
public/test/*.html
public/test/*.php
sftp-config.json

#only the first time
application/config